.companion {
  padding: 100px 25px 5px;
  position: relative;

  background: @dark-blue-background url("../img/companion-mobile.png") -25px 69px no-repeat;

  .bottom-block-decorate(30px, @dark-blue-background);

  &__title,
  &__descr,
  &__tagline {
    width: 220px;
    margin: 0 25px 23px;
  }

  &__tagline {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 60px;
    display: block;
  }

  &__list {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .companion {
    padding: 200px 75px 15px;

    background: @dark-blue-background url("../img/companion-tablet.png") 40px 140px no-repeat;

    .bottom-block-decorate(60px, @dark-blue-background);

    &__title,
    &__descr,
    &__tagline {
      width: 420px;
      margin: 0 0 55px 0;
    }

    &__descr {
      margin-bottom: 40px;
    }

    &__tagline {
      width: 260px;
      font-size: 21px;
      font-weight: 700;
      line-height: 25px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;
    }
  }
}

@media (min-width: 1440px) {
  .companion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 750px;
    align-content: space-between;
    padding: 200px 75px 15px;
    box-sizing: border-box;

    background: @dark-blue-background url("../img/companion-desktop.png") 30px 140px no-repeat;

    &__list {
      width: 630px;
      order: 10;

    }
  }
}
