.main-nav {
  position: absolute;
  top: 0;
  left: -1px;
  width: 272px;
  padding: 27px 25px 0;
  z-index: 1000000;

  background-color: #ffffff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
  }

  &__close-menu {
    width: 19px;
    height: 19px;
    margin-top: 5px;

    border: 0;
    outline: 0;
    background-color: transparent;
    background-image: url("../img/menu-tablet-mobile-close.png");
  }

  &__list {
    margin-bottom: 51px;
  }

  &__social {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}

.main-nav--closed {
  display: none;
}

@media (min-width: 768px) {
  .main-nav {
    width: 690px;
    padding: 40px 40px 0 40px;

    &__wrapper {
      justify-content: start;
      margin-bottom: 87px;
    }

    &__logo {
      margin-top: 5px;
    }

    &__close-menu {
      margin-top: 21px;
      margin-left: 171px;
    }

    &__list {
      margin-left: 59px;
      margin-bottom: 153px;
    }

    &__list--user {
      margin-bottom: 113px;
    }

    &__social {
      justify-content: start;
      margin-left: 85px;
      margin-bottom: 92px;
    }
  }
}

@media (min-width: 1440px) {
  .main-nav {
    position: relative;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;

    background-color: transparent;

    &__wrapper {
      display: none;
    }

    &__list {
      margin: 0;
    }

    &__list--user {

      margin: 0;
    }

    &__social.social-link {
      display: none;
    }
  }
}
